<section>


	
    <div class="content-wrapper">
        <div class="col-md-8 col-md-offset-2">
            <font style="color: #ac8230"><h3 style="font-weight:normal; font-size: 30px;">{{ site.appsnotopen1 }}<br>{{ site.appsnotopen2 }}</font><br>
            	<h3 style="font-weight:normal; font-size: 20px;">{{ site.appsnotopen4 }}<br><a href="{{ site.baseurl }}/apply"><font style="color: #ac8230">Click Here!</font> </a>
            </h3>
            <div id="tweets" class="tweets"></div>
        </div>
    </div>


	 <div id="agendas" class="content-wrapper" style="display: none;">
	 	<div class="row">
	 		<a href="{{ site.baseurl }}/unga">
	 		<div class="col-md-3" align="center">
	 			<div class="apply-type"  style="background-image: url('{{ site.baseurl }}/img/apply/UNGA.png');">
	 				<!--
	 				<a href="{{ item.applyLink }}" class="btn btn-responsive btn-primary apply-button" style="color: white;">APPLY</a>
	 			-->
	 			</div>
	 		</div>
	 		</a>
	 		<a href="{{ site.baseurl }}/lok-sabha">
	 		<div class="col-md-3" align="center">
	 			<div class="apply-type"  style="background-image: url('{{ site.baseurl }}/img/apply/Lok Sabha.png');">
	 				<!--
	 				<a href="{{ item.applyLink }}" class="btn btn-responsive btn-primary apply-button" style="color: white;">APPLY</a>
	 			-->
	 		</div>
	 		</div>
	 		</a>
	 		<a href="{{ site.baseurl }}/unhrc">
	 		<div class="col-md-3" align="center">
	 			<div class="apply-type" style="background-image: url('{{ site.baseurl }}/img/apply/UNHRC.png');">
	 				<!--
	 				<a href="{{ item.applyLink }}" class="btn btn-responsive btn-primary apply-button" style="color: white;">APPLY</a>
	 			-->
	 			</div>
	 		</div>
	 		</a>
	 	<a href="{{ site.baseurl }}/disec">
	 		<div class="col-md-3" align="center">
	 			<div class="apply-type"  style="background-image: url('{{ site.baseurl }}/img/apply/DISEC.png');">
	 			</div>
	 		</div>
	 	</a>
	 </div>
</section>
