<section class="councils-page" id="unhrc-page">
    <div class="container">
        <div class="page-header">
            <h1>United Nations Human Rights Council</h1>
        </div>
        <div class="row">
            <div class=""></div>
            <div class="row-sm-6">
                <!--
                <p>{{ site.unhrc-popup-text-about }}</p>
            -->
            </div>
            <div class="row-sm-6">
                <b><h4 class="timeline-title">Dissecting Discrimination</h4></b>
                <p>Race, gender, sexual orientation and nationality are some of the many things that distinguish us. Although more often than not these differences have also been the cause of discrimination. Limited rights for women in the past, the current legal status of homosexual activity and a rise in police brutality are the practical manifestations of these stigmas. While the UN has exercised its authority to issue resolutions protecting the rights of these communities, the problems of discrimination remain unresolved.<br>In the 14th Edition of the IIT Guwahati Model United Nations, we bring to you the agenda "Dissecting Discrimination" as part of the UNHRC committee. You will have the opportunity to come together and decide the course of action to be taken so that we may persevere to become a more inclusive society.</p>
                <p>
                    <h4><a href = "https://docs.google.com/forms/d/e/1FAIpQLSeuRIK-3xr1R7NptSyY5KCpqWVaEOLu1_FYP6qmy-8ryjQ08w/viewform">Click Here to Apply</a></h4>
                </p>
            </div>
            <div class=""></div>
        </div>
    </div>
    </section>